
svg text {
	font-family: FontAwesome;
}

html *
{
	color: #CCC;
	font-family: Helvetica, Arial, sans-serif;
}

.icon {
	width: 1em;
	height: 1em;
	fill: white;
	cursor: pointer;
}

.html-in-svg {
	background: rgba(1,1,1,0);
	padding: 0 1rem 1rem 0;
	float:left;
}

.button {
	color: #222;
	background: deepskyblue;
	border: none;
	margin-left: 0.5rem;
	padding: 0.3rem 0.6rem 0.3rem 0.6rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.button:hover {
	color: black;
}

.button-primary {
	background-color: dodgerblue;
}

.button-danger {
	background-color: rgb(230, 29, 29);
}

.button-row {
	margin-top: 1rem;
	margin-bottom: 1rem;
	float: right;
}

.icon {
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
.icon-green {
	color: green;
}
.icon-red {
	color: red;
}

.box-shadow {
	background-color: #181A1E;
	padding: 0rem 0.2rem 0.2rem 0.2rem;
	filter: drop-shadow(0.3rem 0.3rem 0.2rem black)
}

.article-menu-back {
	fill: #3A3C40;
}

.article-menu {
	fill: #424549;
	fill-opacity: 0.5;
}

.article-menu:hover {
	cursor: pointer;
	fill: #A9ABAD;
	fill-opacity: 0.15;
}

.link-menu {
}

.link-menu-content {
	display:flex;
	flex-direction: column;
}

.link-menu-item {
	margin-top: 0.2rem;
}

.link-menu-item:hover {
	cursor: pointer;
	color: #FFF;
}

.link-menu-filler {
	flex-grow: 1;
	background-color: brown;
}


.color-picker {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.color-picker-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.color-picker-colorbox {
	margin-left:1rem;
	margin-right:2rem;
	min-width: 4rem;
	min-height: 4rem;
	margin: 1rem;
	border-radius: 4rem;
	justify-content: center;
}

.color-picker-colorbar {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 256px;
	height: 1rem;
}

.color-picker-bottom {
	align-self: flex-end;
}

.color-picker-colorbar-red {
	background-image: linear-gradient(to right, #000, #FF0000);
}
.color-picker-colorbar-green {
	background-image: linear-gradient(to right, #000, #00FF00);
}
.color-picker-colorbar-blue {
	background-image: linear-gradient(to right, #000, #0000FF);
}

.tagedit-container {
	margin: 1rem;

}

.tagedit-tags-container {

	margin-left: 0.5rem;
	background-color: rgb(40, 44, 50);
	border-radius: 0.5rem;
	padding: 0 1rem 0 1rem;
	min-width: 20%;
}

.tagedit-container-edit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tagedit-tags {
	display: flex;
	flex-direction: column;
}
.tagedit-tag-row {
	display: flex;
}

.tagedit-tag {
	margin: 0.3rem;
	border-radius: 0.2rem;
	padding: 0.2rem 0.3rem;
	align-self: flex-start;
	min-width: 10rem;
	background-color: rgb(10,10,12);
}

.tagedit-input {
	color: black;
	border-radius: 0.3rem;
	border: none;
	padding: 0.2rem 0.3em;
	background-color: rgb(10,10,12);
	color: rgb(255, 255, 255);
}

.tagedit-buttons {
	padding: 0.2rem 0.3rem;
}

#link {
	cursor: pointer;
	fill-opacity: 0.15;
	stroke-width: 5px;
}

#link:hover {
	cursor: pointer;
	fill-opacity: 0.15;
	stroke-width: 6px;
}

#dummy:hover {
	stroke: tint(rgb(165, 171, 182), 20%)
}
